ion-card-header {
    max-height: 200px;
    position: relative;
    top: 0;
    left: 0;
}
.img1 {
    height: 160px;
    width: 80px;
    position: relative;
    top: 0;
    left: 60px;
}
.img2 {
    height: 160px;
    width: 80px;
    position: absolute;
    left: 30px;
}
.img3 {
    height: 160px;
    width: 80px;
    position: absolute;
    left: 0px;
}
.spinner{
  margin: 50% 50%;
}
