<ion-header>
  <ion-toolbar>
    <ion-title>best-movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button routerLink="/movie" color="tertiary" fill="solid">
      Movie
    </ion-button>
  </ion-buttons>

  <ion-card *ngFor="let m of movies" >
    <ion-item [routerLink] ="m.MovieId">
      <ion-avatar slot="start">
        <img [src]="m.Poster">
      </ion-avatar>
      <ion-label slot="start">
        <p>{{m.Title}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>