<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>movie-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item *ngFor="let movie of movies" [routerLink]="movie.movieId">
      <div slot="start">
        <img [src]="movie.poster">
      </div>
      <p>{{movie.title}}</p>
      <p slot="end" *ngIf="includeSearch"><img class="star" src="../../../assets/star.png">{{movie.imdbRating}}</p>
      <p slot="end" *ngIf="includeUser">
        <ion-icon name="star" class="iconRate"></ion-icon>{{movie.votes[0].numberOfStars}}
      </p>
      <a slot="end" *ngIf="includeUser" (click)="deleteVote($event, movie.movieId)">
        <ion-icon class="trash" name="trash-outline"></ion-icon>
      </a>
    </ion-item>
  </ion-list>

</ion-content>