.icon2{
  display: inline-block;
  font-size: 25px;
  color: #ffC977;
  vertical-align: middle;
}

.title2{
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.button2{

  margin-top: 60%;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
  background-color: #4c8dff;
}

.img1 {
  height: 160px;
  width: 80px;
  position: relative;
  top: 0;
  left: 60px;
}
.img2 {
  height: 160px;
  width: 80px;
  position: absolute;
  left: 30px;
}
.img3 {
  height: 160px;
  width: 80px;
  position: absolute;
  left: 0px;
}
