<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div *ngFor="let movie of topMovies" class="category-block">

    <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable align-self-center>
        {{movie.ImdbId}}
      </ion-col>
    </ion-row>

  </div> -->
  <h1>Upcomming</h1>
  <ion-slides [options]="sliderConfiguration">
    <ion-slide *ngFor="let movie of upcomingMovies">
      <ion-card color="secondary" [routerLink]="movie.movieId">
        <ion-card-header>
          <img [src]="movie.poster">
        </ion-card-header>
        <ion-card-content>
          <p> {{movie.title}} </p>
          <p><span style="float: left;">{{movie.releaseDate.split('-')[0]}}</span> <span style="float: right;">{{movie.runtime}}min</span></p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h1>Top 10 by IMDB rationg</h1>
  <ion-slides [options]="sliderConfiguration">
    <ion-slide *ngFor="let movie of topMovies">
      <ion-card color="secondary" [routerLink]="movie.movieId">
        <ion-card-header>
          <img [src]="movie.poster">
        </ion-card-header>
        <ion-card-content>
          <p>
            <ion-icon name="star-outline" color="warning"></ion-icon> {{movie.imdbRating}}
          </p>
          <p> {{movie.title}} </p>
          <p><span style="float: left;">{{movie.releaseDate.split('-')[0]}}</span> <span style="float: right;">{{movie.runtime}}min</span></p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>